In [1]:
import pandas as pd 
import  numpy as np 
from pgmpy.models import BayesianModel as bag

In [2]:
names = "A<B<C<D<E<F<G<H<I<J<K<L<M<RESULT"
names = names.split("<")
names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'RESULT']

In [3]:
data = pd.read_csv("heart.csv")
data.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0

In [4]:
data.columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'RESULT']

In [5]:
data.head()

    A  B  C    D    E  F  G    H  I    J  K  L  M  RESULT
0  52  1  0  125  212  0  1  168  0  1.0  2  2  3       0
1  53  1  0  140  203  1  0  155  1  3.1  0  0  3       0
2  70  1  0  145  174  0  1  125  1  2.6  0  0  3       0
3  61  1  0  148  203  0  1  161  0  0.0  2  1  3       0
4  62  0  0  138  294  1  1  106  0  1.9  1  3  2       0

In [6]:
model = bag([("A","B"), ("B","C"), ("C","RESULT")])
model.fit(data)

WARNING:pgmpy:BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.

In [7]:
from pgmpy.inference import VariableElimination as vae
infer = vae(model)
q = infer.query(variables = ["RESULT"], evidence = {"A":55})

print(q)

WARNING:pgmpy:BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.
WARNING:pgmpy:BayesianModel has been renamed to BayesianNetwork. Please use BayesianNetwork class, BayesianModel will be removed in future.

+-----------+---------------+
| RESULT    |   phi(RESULT) |
+===========+===============+
| RESULT(0) |        0.4770 |
+-----------+---------------+
| RESULT(1) |        0.5230 |
+-----------+---------------+